/*
 * -------------------------------------------------
 *  Nextflow config file for running on a SLURM managed cluster
 * -------------------------------------------------
 */

process {
  executor = 'slurm'
  beforeScript = 'module load singularity'
}
singularity {
  enabled = true
  autoMounts = true
}